
header{
    height: 100vh;
    background-image: url(../../assets/header.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headercont{
    width: 377px;
    height: 241px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 172px;
}

h2{
    color: #FFF;
    font-family: 'inter';
    font-size: 37.3px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.headertext{
    color: #FFF;
    font-family: 'inter';
    font-size: 23.1px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 155.845% */
    width: 100%;
}
