header{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/header.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headercont{
    width: 377px;
    height: 241px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: antiquewhite;
    margin-left: 172px;
}