@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    background-color: white;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.s2{
    width: 100vw;
    height: 834.97px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2cont{
    width: 1109.971px;
    height: 552.63px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    margin-bottom: 100px;
}

.s2sub{
    color: #333;
font-family: 'inter';
font-size: 23.1px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 173.16% */
}

.s2cards{
    width: 100%;
height: 401.99px;
}
.menus1{ 
    display: inline-flex;
    height: 87px;
    width: 100%;
        padding: 0 553px 0 158px;
    align-items: center;
    margin-top: 66.9px;
    background: #FFF;
box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
}
.menudiv{
    display: flex;
    height: 30px;
    padding: 7.5px 103.5px 8.5px 0;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    gap: 30px;
    align-items: center;
}
.section1{
    width: 100%;
    display: flex;
    height: 415.99px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.orangedivpad{
    display: inline-flex;
    padding: 0 22.334px 0 21.656px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13.984px;
}
.applymaindiv{
    display: flex;
    width: 991px;
    height: 133px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}