@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: auto;
    background-color: white;

}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.s2{
    width: 100vw;
    height: 834.97px;
    
}