@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    background-color: white;

}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.s2{
    width: 100vw;
    height: 834.97px;
    
}
.menus1{
    display: inline-flex;
height: 87px;
width: 100%;
padding: 28.625px 553px 28.375px 158px;
align-items: center;
background-color: aqua;
margin-top: 66.9px;
}