@font-face {
    font-family: 'inter';
    src: url(../../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.navbtn{
    color: #FFF;
    font-family: 'inter';
    font-size: 14.9px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 93.96% */
}