.cardcont2{
    display: flex;
width: 31%;
height: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
border-radius: 6px;
background: #FFF;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
transition: all 0.3s ease;
}

.cardcont3{
    display: flex;
width: 31%;
height: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
border-radius: 6px;
background: #ff0000;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
transition: all 0.3s ease;
}

.cardcont4{
    display: flex;
width: 31%;
height: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
border-radius: 6px;
background: #7700ff;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
transition: all 0.3s ease;
}

.cardcont2:hover{
    transform: translateY(-5px);
}

.cardimg{
    width: 100%;
height: 197.99px;
border-radius: 6px;
}

.cardtitl{
    color: #1858A8;
font-family: 'inter';
font-size: 20.8px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 125% */
margin-left: 20px;
}

.cardp{
    color: #333;
font-family: 'inter';
width: 80%;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-left: 20px;
}

.readmore{
    color: #333;
font-family: 'inter';
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
margin-bottom: 10px;
margin-left: 20px;
margin-top: 20px;
}